node_modules
vendor
.git
.env
.env.backup
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
tests
phpunit.xml
.editorconfig
.gitattributes
docker-compose.yml
deploy/deploy_to_linode.sh
deploy/nginx_temec.conf
deploy/README_DEPLOY.md
CLAUDE.md
README.md
