APP_NAME=Temec
APP_ENV=production
APP_KEY=
APP_DEBUG=false
APP_URL=http://139.162.165.148:8080

LOG_CHANNEL=stack

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=temec
DB_USERNAME=temec_user
DB_PASSWORD=change_me

BROADCAST_DRIVER=log
CACHE_DRIVER=file
QUEUE_CONNECTION=database
SESSION_DRIVER=file
SESSION_LIFETIME=120

FILESYSTEM_DRIVER=public

# Mail - fill these with your SMTP provider settings
MAIL_MAILER=smtp
MAIL_HOST=smtp.example.com
MAIL_PORT=587
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_ENCRYPTION=tls
MAIL_FROM_ADDRESS=no-reply@example.com
MAIL_FROM_NAME="Temec"
EXTERNAL_API_UPLOAD_URL=http://139.162.165.148:8080/api/pdf/upload
